body{
	margin: 0px;
	padding: 0px;
}

.slideShowContainer{
	background-color: black;
	width: 100%;
	max-width: 1000px;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.arrow{
	display: inline-block;
	position: absolute;
	top: 40%;
	z-index: 100;
}

.arrow:hover{
	cursor: pointer;
}

.arrowLeft{
	left:0;
}

.arrowRight{
	right: 0;
	transform: rotate(180deg)
}

.slideShowImage{
	height: 50vh;
	width:50%;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: width 1s, height 1s, transform 1s, top 1s,left 1s;
	/*object-fit:contain;*/
}

.firstImage{
	z-index: 50;
	height: 100vh;
	width: 100%;
}
/*
.imgContainer{
	height: 100vh;
	width:100%;
	position: absolute;
	display: inline-block;
	
}


.slideShowContainer #imgContainer1{
	background-image: url("../images/img1.JPG");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slideShowContainer #imgContainer2{
	background-image: url("../images/img2.JPG");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slideShowContainer #imgContainer3{
	background-image: url("../images/img3.JPG");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

*/
@media (min-width: 900px){
	.imgContainer{
		height: 80vh;
	}	

	.slideShowContainer{
		height: 80vh;
	}

	.slideShowImage{
		height: 40vh;
	}

	.firstImage{
		height: 80vh;
		width: 100%;
	}
}